@(stats_detail: Stats)

@main("word stats") {

    <div style="margin-top: 40px;width: 100%">
        <h3>@stats_detail.getProject_description</h3>
        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
            @for((k,v) <-stats_detail.getIndividual_sorted){
                <tr>
                    <td>@k</td>
                    <td>@v</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}